@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

main,
nav {
  @apply max-w-8xl mx-auto px-3 lg:px-6;
}
p {
  @apply mt-2;
}
.h1-style {
  @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mb-4 xs:mb-0 xs:w-auto;
}
.h2-style {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight lg:text-4xl transition-colors first:mt-0 lg:px-16 px-0 xs:px-8;
}
.text-style {
  @apply flex items-center space-x-2 transition hover:text-secondary xs:text-base text-sm lg:text-2xl;
}
.rainbow-heading-text {
  @apply text-3xl font-bold text-center tracking-tight xs:text-4xl;
}
.icon-size {
  @apply h-5 w-5 xs:h-6 xs:w-6;
}

.colorIndicator {
  transition: box-shadow 0.1s ease-in-out;
}

.colorIndicator:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#dice-box canvas {
  width: 100%;
  height: 100%;
  z-index: 1;
}

#overlay-div {
  position: absolute;
  top: 0;
  width: 408px;
  height: 425px;
  left: 0;
  z-index: 0;
  pointer-events: auto;
}

.responsive-dice-box {
  position: relative;
  width: 408px;
  height: 425px;
}

@media (max-width: 400px) {
  .responsive-dice-box {
    width: 100%;
    height: 425px;
  }
}

@keyframes rainbow-text-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.rainbow-text {
  background-image: linear-gradient(to right, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #8b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 200% auto;
  animation: rainbow-text-animation 10s linear infinite;
}

@keyframes purpleShimmer {
  0% {
    border-color: #8a2be2;
    box-shadow: 0 0 5px #8a2be2;
  }
  50% {
    border-color: #9370db;
    box-shadow: 0 0 20px #9370db;
  }
  100% {
    border-color: #8a2be2;
    box-shadow: 0 0 5px #8a2be2;
  }
}

.purple-shimmer {
  border: 2px solid #8a2be2;
  border-radius: 6px;
  animation: purpleShimmer 2s ease-in-out infinite;
  transition: all 0.3s ease;
}

.purple-shimmer:hover {
  border-color: #9370db;
  box-shadow: 0 0 15px #9370db;
}
